body{
	background-image: url("img/login.png");
	background-repeat: no-repeat;
	position: relative;
}

.imgIcon{
	height: 20%;
	width: 20%;
}

.txtLight{
	font-weight: lighter;
	font-size: 100%;
	color: white;
}

.txtPrimary{
	text-align: center;
	font-weight: bold;
}

.formStyle{
	background-color: #FFFFFF;
}

#btnLight{
	background: transparent;
	color: white;
	font-weight: lighter;
}
